
html{
	background: url(1.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
}
.content{
	background-color: rgba(0,0,0,0.7);
	color:white;
	padding: 40px;
	height:800px;
	width: 300px;
	margin:0 auto;
}
.profile_pic{
	height: 100px;
	border-radius:50%;
}
body{
	font-family: courier;
	font-weight: 300;
}